<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Modelo</title>
</head>

<body>
    {# Comentario jinga2 #}
    <p>Modelo</p>

    {{ x + y }}

    {% if x >= 50 %}
    <p>Maiou ou irgual</p>
    {% else %}
    <p>Menor</p>
    {% endif %}

    <table style="border: solid 1px;">
        {% for k, v in query.items() %}
        <tr>
            <th style="border: solid 1px; background-color: rgba(0, 0, 0, .2);">{{ k }}</th>
        </tr>
        <tr>
            <td style="border: solid 1px; text-align: center;">{{ v }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Calculo de Notas</h1>
    <br>
    <form action="http://127.0.0.1:5000/calculo" method="POST">

        {% for num in range(4) %}
        <p>
            <input type="number" min="0" max="10" name="nota{{num}}" id="nota{{num}}" placeholder="Nota {{num}}"
                required>
        </p>
        {% endfor %}

        <p>
            <button type="submit">Enviar</button>
        </p>
    </form>

    <br>
    <h1>_____________________________________________</h1>
    <p>
        <form action="/upload" enctype="multipart/form-data" method="POST">
            <p>
                <input type="file" name="files[]" multiple="true" autocomplete="off" required>
            </p>
            <p>
                <button type="submit">Enviar</button>
            </p>
        </form>
    </p>
</body>

</html>